@import url(//fonts.googleapis.com/css?family=Antic+Slab|Signika:400,700,600);

@import "compass/css3/box-sizing";

* {
  @include box-sizing(border-box);
}

$pad: 15px;
$color: #222;
$bgcolor: #fff;
$lightcolor: #f5f5f9;
$darkcolor: #dedee8;
$linkcolor: #338;
$linkhover: darken( $linkcolor, 50% );

@mixin linkstyle {
  a, a:visited, a:hover {
    background-color: inherit;
    line-height: 1.8;
    text-decoration: none;
    color: $linkcolor;  
  }
  a:hover {
    color: $linkhover;
  }
}

body {
  font-family: "Antic Slab", Georgia, Serif;
  font-size: 1em;
  margin: 0px;
  background-color: $bgcolor;
  color: $color;
  @media (max-width: 767px) {
    /* remove bootstrap phone side padding since we provide it */
    padding: 0;
  }
}

@include linkstyle;

p {
  margin-bottom: 1em;
}

h1, h2, h3 {
  font-family: "Signika", Georgia, Serif; 
  margin: 0; border: 0;
}

h1 {
  font-size: xx-large;
  font-weight: 700;
  line-height: 1.4;
  margin-bottom: 0.2em;
}

h2 {
  font-size: x-large;
  font-weight: 600;
  line-height: 1.4;
  margin-bottom: 0.2em;
}

h3 {
  font-size: larger;
  font-weight: 400;
  line-height: 1.4;
  margin-bottom: 0.1em;
}

@media (max-width: 979px) {
  /* extend bootstrap phone media selector out to tablets */
  [class*="span"], .uneditable-input[class*="span"], .row-fluid [class*="span"] {
    display: block;
    float: none;
    width: 100%;
    margin-left: 0;
  }
}

.nav {
  margin: 0;
  padding: 0;

  &:after {
    content: "";
    display: table;
    clear: both;
  }

  @media (max-width: 979px) {
    padding: $pad 0 0 $pad;
  }  
}

.nav li {
  @extend h3;
  margin:0;
  line-height: 1;
  margin-bottom: 0px;
  display: block;
  float: left;
  border-right: $pad solid $bgcolor;
  padding: $pad;
  text-align: center;
  background-color: $lightcolor;
  &.active {
    background-color: $darkcolor;
  }
  @include linkstyle;
}

.thirds li { 
  width: 33.33%; 
}

.module {
  padding: $pad;
}

.sidebar {
  text-align: right;
  .module {
    margin: $pad $pad 0 0;
    background-color: $lightcolor;
  }
  @media (max-width: 979px) {
    padding: 0 0 $pad $pad;
  }  
}

.brand {
  h1, h2, h3 {
    margin: 0;
  }
} 

.postsnippet {
  margin-bottom: 2em;
}

.postlist li {
  display: block;
  a {
    text-decoration: none;
  }
}
