
<p> user name: <%= username %> </p>
<p> user ID: <%= id %> </p>
<p> user created: <%= new Date(_created).toString('MMMM d, yyyy hh:mm:ss') %> </p>
<p> user last modified: <%= new Date(_modified).toString('MMMM d, yyyy hh:mm:ss') %> </p>
