<form id='add-tweak-form'>
  <div class='control-group' id='message'>
    <input type='text' id='new-tweak' name='message'>
    <label for='new-tweak' class='control-label pull-left'><span class='errors'></span></label>
  </div>
  <div class='actions'>
    <input id='add-tweak' class='btn btn-primary' type='submit' name='add' value='tweak'></input>
  </div>
</form>
