#profilebar h1, #profilebar h3, #usercontent h1 {
  line-height: 20px;
}

/* user view --------------------------- */

#title {
  border-bottom: 1px solid #eee;
  padding-bottom: 10px;
  text-align: right;
}

#username {
  padding-bottom: 10px;
}

#userstats {
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  padding: 10px 0px 10px 0px;
  margin-bottom: 15px;
}

.tabs-left .nav-tabs {
  float: none;
  margin-right: 0px;
}

/* tweak views -------------------------- */

ul.tweaker-list {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

li.tweaker-item {
  height: 40px; 
  border-bottom: 1px solid #eee;
  margin: 5px 0px 5px 0px;
  padding: 3px 5px 0px 5px;

}

div.tweaker-meta {
  text-align: right;
}

#add-tweak-form .actions {
  text-align: right;  
}

#new-tweak {
  width: 210px;
}

/* follower views ----------------------- */

.follower, .follow {
  width: 100px;
  margin-top: 4px;
}

#add-follower-form {
  padding-top: 10px;
}

#add-follower {
  width: 100px;
  margin-left: 10px;
}

#new-follower {
  width: 571px;
}